---
layout: full-width
title: "OpenFL - Creative expression for desktop, mobile, web and console platforms"
---

<div class="jumbotron">
  <div class="jumbotron-overlay">
  <div class="container">
    <h1>Desktop, mobile, and web.</h1>
    <p>From enterprise applications to best-selling games, your creativity can be expressed with OpenFL. Publish to native C++ on desktops, phones, or tablets, or deploy to the web JS and WebGL. Do it all using one seamless toolset.</p>
    <p><a href="{{ site.baseurl }}/learn/docs/getting-started/" class="btn btn-primary btn-lg" role="button">GET STARTED &raquo;</a></p>
  </div>
   </div>
</div>

<!-- <div class="container cta">
	<div class="row">
		<div class="col-sm-6 centered">
			<h4>Ready to begin? <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span>
 Get started now!</button></h4>
		</div>
		<div class="col-sm-6 centered">
			<h4>Want to know more? <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-film"></span> See how it works</button></div></h4>
		</div>
	</div>
</div> -->

<!-- <div class="container-full grey">

<div class="container">
	  
	<div class="row">
	<div class="col-sm-4">
	  <h2>Spotlight</h2>
	  <p>{% for post in site.categories["spotlight"] limit:1 %}
	  <img class="featurette-image img-responsive" data-src="holder.js/280x110/auto" alt="Generic placeholder image">
	  <p>{{ post.tagline }}</p>
	  {% endfor %}</p>
	  <p><a class="btn btn-default" href="{{ post.url }}" role="button"><span class="glyphicon glyphicon-file"></span> Read more</a></p>
	</div>
	<div class="col-sm-4">
	  <h2>Showcase</h2>
	  <p>{% for showcase in site.data.showcase limit:4 %}
	  <p>{{ showcase.title }}</p>
	  {% endfor %}</p>
	  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-sm-4">
	  <h2>Updates</h2>
	  <p>{% for post in site.posts limit:5 %}
	  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}</p>
	  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div>
	</div>

 </div>
 </div> -->

<div class="container">

		<br />

	
		  <div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Familiar. <span class="text-muted">Easy-to-use.</span></h2>
	          <p class="lead">OpenFL implements the Flash Player API, but goes everywhere that browser plug-ins cannot. Use a familiar and battle-tested workflow to accelerate development. You can even leverage Adobe Animate as an integrated art pipeline.</p>
			  <p><a href="https://books.openfl.org/openfl-developers-guide/" class="btn btn-info" role="button">Read the OpenFL Developer's Guide &raquo;</a></p>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive center-block" src="/images/home/EasyToUse.png" alt="">
	        </div>
	      </div>
	
		  <hr class="featurette-divider">

	      <div class="row featurette">
	        <div class="col-md-7 col-md-push-5">
	          <h2 class="featurette-heading">Flexible. <span class="text-muted">Open-source.</span></h2>
	          <p class="lead">Unlock potential with an open, hackable platform that is 100% free and <a href="https://github.com/openfl/openfl">open source</a>, backed by a passionate and responsive developer community. Say goodbye to licensing fees, and keep your code for the long-haul.</p>
			  <p><a href="https://github.com/openfl/openfl" class="btn btn-info" role="button">Get the Code On GitHub &raquo;</a></p>
	        </div>
			<div class="col-md-5 col-md-pull-7">
	          <img class="featurette-image img-responsive center-block" src="/images/home/OpenSource.png" alt="">
	        </div>
	      </div>

	      <hr class="featurette-divider">
	
	      <div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Portable. <span class="text-muted">Cross-platform.</span></h2>
	          <p class="lead">Build games and applications for almost every platform imaginable -- Windows, macOS, Linux, iOS, Android, HashLink, Adobe AIR, and even JavaScript with WebGL. Bring your creative vision to life, on desktops, phones, tablets — even game consoles.</p>
			  <p><a href="{{ site.baseurl }}/showcase/" class="btn btn-info" role="button">See the OpenFL App Showcase &raquo;</a></p>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive center-block" src="/images/home/CrossPlatform.png" alt="">
	        </div>
	      </div>
	      
	      <!-- <hr class="featurette-divider"> -->
</div>
