      </div>
    </div>
    
    <div class="footer">
      <div class="logos">
        <img class="img-responsive" src="{{ site.baseurl }}/images/logos.png" />
      </div>
      <div class="container" style="">
      	<div class="pull-right" style="float: right !important; font-size: 26px !important; text-decoration: none !important; margin-top: -5px">
	      	<a href="http://www.twitter.com/open_fl/" target="_blank"><span class="icon-twitter"></span></a>
	      	<a href="http://www.facebook.com/openfl/" target="_blank"><span class="icon-facebook"></span></a>
	      	<a href="https://github.com/openfl/" target="_blank"><span class="icon-github"></span></a>
	      	<a href="http://www.patreon.com/openfl" target="_blank"><span class="icon-patreon"></span></a>
	      </div>
	      <p><a href="{{ site.baseurl }}/privacy/" style="padding-right: 12px;">Privacy Policy</a> © 2014 OpenFL Technologies, LLC. All Rights Reserved.</p>
      </div>
    </div>
    
  </body>
</html>
