      </div>
    </div>
    
    <div class="footer">
      <div class="logos">
        <div class="container">
          <img class="img-responsive" src="{{ site.baseurl }}/images/logos.png" />
        </div>
      </div>
      <div class="container" style="">
        <div class="icons pull-right">
          <a href="http://www.twitter.com/open_fl/" target="_blank"><span class="icon-twitter"></span></a>
          <a href="http://www.facebook.com/openfl/" target="_blank"><span class="icon-facebook"></span></a>
          <a href="https://github.com/openfl/" target="_blank"><span class="icon-github"></span></a>
          <a href="http://www.patreon.com/openfl" target="_blank"><span class="icon-patreon"></span></a>
        </div>
        <p><a href="{{ site.baseurl }}/privacy/" style="padding-right: 12px;">PRIVACY POLICY</a> © 2013&ndash;{{ site.time | date: "%Y" }} OPENFL. ALL RIGHTS RESERVED.</p>
      </div>
    </div>
    
  </body>
</html>
