      </div>
    </div>

    <div class="footer">
      <div class="logos">
        <div class="container">
          <img class="img-responsive" src="{{ site.baseurl }}/images/logos.png" usemap="#logos"/>
          <map name="logos">
            <area shape="rect" coords="0,0,140,69" href="https://www.haxe.org" target="_blank" />
            <area shape="rect" coords="140,0,1000,69" href="{{ site.baseurl }}/sponsors/">
          </map>
        </div>
      </div>
      <div class="container" style="">
        <div class="icons pull-right">
          <a href="https://github.com/openfl/" target="_blank"><span class="icon-github-b"></span></a>
          <a href="https://discord.gg/tDgq8EE" target="_blank"><span class="icon-discord"></span></a>
          <a href="https://www.x.com/open_fl/" target="_blank"><span class="icon-x"></span></a>
          <a href="https://www.facebook.com/openfl/" target="_blank"><span class="icon-facebook-b"></span></a>
          <a href="{{ site.baseurl }}/get-involved/">
            <span class="glyphicon glyphicon-wrench" style="position: relative; top: 4px;"></span>
          </a>
        </div>
        <p><a href="{{ site.baseurl }}/privacy/" style="padding-right: 12px;">PRIVACY POLICY</a> © 2013&ndash;{{ site.time | date: "%Y" }} OPENFL. ALL RIGHTS RESERVED.</p>
        <ul class="footer-nav">
          <li><a href="{{ site.baseurl }}/download/">Download</a></li>
          <li><a href="{{ site.baseurl }}/learn/">Learn</a></li>
          <li><a href="{{ site.baseurl }}/showcase/">Showcase</a></li>
          <li><a href="https://community.openfl.org/">Community</a></li>
          <li><a href="https://openfl.org/about/">About</a></li>
        </ul>
      </div>
    </div>
    
  </body>
</html>
