<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">

    <title>{{ page.title }}</title>
    
    <script src="{{ site.baseurl }}/js/jquery-1.11.0.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/anchor.min.js"></script>
    
    {{ page.head }}
    {% if include.embed %}
    <!-- <script src='{{ site.baseurl }}/js/openfl.min.js'></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openfl/7.1.2/openfl.min.js"></script>
    <script src='{{ site.baseurl }}/js/actuate.min.js'></script>
    {% endif %}
    
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/styles.css?{{site.time | date: '%s%N'}}" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/syntax.css?{{site.time | date: '%s%N'}}" rel="stylesheet">
    
    <script src="{{ site.baseurl }}/js/holder.js"></script>
    
  </head>

  <body class="{{ include.class }}">
    
    <div id="wrap">
      <div id="main" class="clear-top">
        
        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-logo" href="{% if site.baseurl and site.baseurl != "" %}{{ site.baseurl }}{% else %}/{% endif %}"><img src="{{ site.baseurl }}/images/logo.png" alt="OpenFL" /></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                {% for p in site.data.navigation %}
                {% if p.url contains '://' %}
                <li><a href="{{ p.url }}"{% unless p.url contains 'openfl.org' %} target="_blank"{% endunless %}>{{ p.title | upcase }}</a></li>
                {% else %}
                <li><a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url | prepend: site.baseurl | replace: '//', '/' }}">{{ p.title | upcase }}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/get-involved/"><button type="button" class="btn btn-info"><span class="glyphicon icon-wrench"></span> CONTRIBUTE</button></a></li>
                <!-- <li><a href="{{ site.baseurl }}/learn/docs/getting-started/"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> DOWNLOAD</button></a></li> -->
              </ul>
            </div>
          </div>
        </div>
