---
layout: default
title: Blog
weight: 1
---

<h1>Blog</h1>

<div class="row">
<div class="col-md-8">

{% for post in paginator.posts %}
<h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
{% if post.excerpt != null and post.excerpt != "" %}
<div>{{ post.excerpt }} <a href="{{ site.url }}{{ post.url }}">Read more</a></div>
{% else %}
<div>{{ post.content }}</div>
{% endif %}
<h5>{{ post.date | date: "%B %-d, %Y" }}</h5>
{% endfor %}


{% if paginator.total_pages > 1 %}
<div style="text-align: center; vertical-align: middle">


{% if paginator.previous_page %}<h4 style="float: left"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&lsaquo; Newer Posts</a></h4>{% endif %}

{% if paginator.next_page %}<h4 style="float: right;"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rsaquo;</a></h4>{% endif %}

<h5>
{% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="text-muted">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ '/blog' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  </h5>

</div>
{% endif %}


</div>
<div class="col-md-1"></div>
<div class="col-md-3">


    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Open_FL"  data-widget-id="436939058351067136">Tweets by @Open_FL</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



</div>
</div>