{% include header.html %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-push-4 sidebar-content">
			
			<div class="page-header">
				<h1>{{ page.title}}{% if page.subtitle %} <small>{{ page.subtitle }}</small>{% endif %}</h1>
				<div class="page-links"><a href="https://github.com/openfl/openfl.org/edit/master/{{page.path}}">Edit Document<span class="page-links-icon glyphicon glyphicon-pencil"></span></a></div>
			</div>
			
			{{ content | replace: '<li>[ ]', '<li class="list-checkbox"><input type="checkbox" disabled> ' | replace: '<li>[x]', '<li class="list-checkbox"><input type="checkbox" checked disabled> ' }}
			
		</div>
		<div class="col-md-4 col-md-pull-8 sidebar">
			
			{% for item in site.data.navigation %}
			{% if page.url contains item.url and item.subitems %}
			{% include sidebar-item.html navigation=item.subitems %}
			{% endif %}
			{% endfor %}
			
		</div>
	</div>
</div>
{% include footer.html %}