{% include header.html %}
<style>
h1:first { padding-top: 20px; }
</style>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-push-4 sidebar-content">
			
				<div class="page-header"><h1>{{ page.title }}</h2></div>
				<p><a href="{{ page.link }}" target="_blank"><img src="{{ site.baseurl }}/images/showcase/large/{{ page.image }}" class="showcase-image" /></a></p>
				<p class="showcase-icons">
					{% if page.windows %}<a href="{{ page.windows }}" target="_blank">{% endif %}<span class="icon-windows"></span>{% if page.windows %}</a>{% endif %}
					{% if page.mac %}<a href="{{ page.mac }}" target="_blank">{% endif %}<span class="icon-apple"></span>{% if page.mac %}</a>{% endif %}
					{% if page.linux %}<a href="{{ page.linux }}" target="_blank">{% endif %}<span class="icon-linux"></span>{% if page.linux %}</a>{% endif %}
					{% if page.ios %}<a href="{{ page.ios }}" target="_blank">{% endif %}<span class="icon-apple"></span>{% if page.ios %}</a>{% endif %}
					{% if page.android %}<a href="{{ page.android }}" target="_blank">{% endif %}<span class="icon-android"></span>{% if page.android %}</a>{% endif %}
					{% if page.blackberry %}<a href="{{ page.blackberry }}" target="_blank">{% endif %}<span class="icon-blackberry"></span>{% if page.blackberry %}</a>{% endif %}
					<!-- {% if page.firefoxos %}<a href="{{ page.firefoxos }}" target="_blank">{% endif %}<span class="icon-firefox"></span>{% if page.firefoxos %}</a>{% endif %} -->
					<!-- {% if page.tizen %}<a href="{{ page.tizen }}" target="_blank">{% endif %}<span class="icon-tizen"></span>{% if page.tizen %}</a>{% endif %} -->
					{% if page.amazon %}<a href="{{ page.amazon }}" target="_blank">{% endif %}<span class="icon-amazon"></span>{% if page.amazon %}</a>{% endif %}
					{% if page.flash %}<a href="{{ page.flash }}" target="_blank">{% endif %}<span class="icon-flash"></span>{% if page.flash %}</a>{% endif %}
					{% if page.html5 %}<a href="{{ page.html5 }}" target="_blank">{% endif %}<span class="icon-html5"></span>{% if page.html5 %}</a>{% endif %}
					{% if page.ouya %}<a href="{{ page.ouya }}" target="_blank"><span class="icon-ouya"></span></a>{% endif %}
					{% if page.playstation %}<a href="{{ page.playstation }}" target="_blank"><span class="icon-playstation"></span></a>{% endif %}
				</p>
				
				{% if page.developer %}
				{% for developer in site.data.developers %}
				{% if developer.name == page.developer %}
				{% assign developerData = developer %}
				{% endif %}
				{% endfor %}
				{% endif %}
				
				{% if page.developer %}<hr/><p><strong>Developer:</strong> {% if developerData %}<a href="{{ developerData.url }}" target="_blank">{% endif %}{{ page.developer }}{% if developerData %}</a>{% endif %}</p>{% endif %}
				{% if page.client %}<hr/><p><strong>Client:</strong> {{ page.client }}</p>{% endif %}
				
				{% if page.developer %}
				
				{% assign count = 0 %}
				{% for showcase in site.showcase %}
				{% if showcase.title != page.title and showcase.developer == page.developer %}
				{% assign count = count | plus: 1 %}
				{% endif %}
				{% endfor %}
				
				{% if count > 0 %}
				<hr/>
				<h3>More by this developer</h3>
				{% for showcase in site.showcase %}
				{% if showcase.title != page.title and showcase.developer == page.developer %}
				
				{% cycle '<div class="row">', '', '' %}
				
				<div class="col-md-4"><a href="{{ showcase.url }}" target="_blank"><img src="{{ site.baseurl }}/images/showcase/small/{{ showcase.image }}" class="showcase-image-small" /></a><br/><a href="{{ showcase.url }}" class="showcase-text-small" target="_blank">{{ showcase.title }}</a></div>
				
				{% cycle '', '', '</div>' %}
				{% endif %}
				{% endfor %}
				
				{% assign remainder = count | modulo: 3 %}
				{% if remainder != 0 %}
				</div>
				{% endif %}
				
				{% endif %}
				{% endif %}
			
			{{ content }}
			
		</div>
		<div class="col-md-4 col-md-pull-8 sidebar">
			
			{% assign item = site.data.navigation[0] %}
			{% include sidebar-item.html navigation=item.subitems %}
			
		</div>
	</div>
</div>
{% include footer.html %}