name: Test deployment

on:
  pull_request:
    branches: [ master ]

jobs:
  test-deploy:

    name: Test deployment
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
        bundler-cache: true

    - name: Install dependencies
      run: |
        _scripts/install.sh
    
    - name: Build site
      run: |
        _scripts/build.sh
